/* PC */
@media (min-width: 64em){
    .pc{
        display: block;
    }
    
}

/* Tablet & Mobile */
@media (max-width: 63.9375em){
    .btn{
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    #footer .social-list{
        font-size: 48px;
    }
    
    #footer .social-list a{
        margin: 0 8px;
    }

    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
    .contact-info {
        line-height: 2;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
        text-align: center;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #nav {
       display: block;
    }

   #nav > li{
         display: block; 
   }

   #nav li a {
    padding: 1px 24px;
   }

  #nav >li:first-child {
    display: inline-block;
  }

  #nav .sub-nav {
    /* display: initial; */
    position: initial;
    background-color:black;
  }

  #nav .sub-nav a {
    width: 575px;
    color: #fff;
    padding: 5px 46px;
  }

  #header {
    overflow: hidden;
  }

   #header .mobile-menu-btn {
        display: block;
   }

    #header .search-btn{
        display: none;     
    }
    
    #content .member-item {
        margin-top: 32px;
        width: 100%;
    } 

    #content .member-img {
        width: 60%;
    }
    
    .contact-form {
        margin-top: 32px;
        line-height: 2;
    }
}   